<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Nuevo comercio" ba-panel-class="with-scroll">
                <form>
                    <div class="form-group">
                        <label style="font-weight: bold;font-size: 15px;" for="addStoreName">Nombre del comercio</label>
                        <input type="text" class="form-control" id="addStoreName" placeholder="Nombre">
                    </div>

                    <div class="form-group" style="position: relative;">
                        <label style="font-weight: bold;font-size: 15px;" for="addStoreAddress">Dirección</label>
                        <input type="text" class="form-control" id="addStoreAddress" placeholder="Dirección de comercio" style="width: 90%">
                        <button type="button" class="btn btn-default" style="position: absolute;right: 0px;top: 21px;width: 95px;" ng-click="validateAddress()">Validar</button>
                    </div>

                    <div style="box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);padding: 10px;margin-bottom: 15px;">
                        <div id="mapValidationAddress" style="height: 35vh;min-height: 150px;"></div>
                    </div>

                    <div class="form-group">
                        <label for="addStoreBusinessName" class="control-label" style="font-weight: bold;font-size: 15px;">Razón Social</label>
                        <input type="text" class="form-control" id="addStoreBusinessName" placeholder="Razón social">
                    </div>

                    <div class="row" style="text-align: center;">
                        <button type="button" class="btn btn-primary btn-lg" ng-click="addStore()" style="margin-right: 20px;">Guardar</button>
                        <button type="button" class="btn btn-default btn-lg" >Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--
<div class="modal-content" ng-controller="AddStoreCtrl">
    <div class="modal-body">
        <progress-bar-round>
        </progress-bar-round>
    </div>
    <div class="modal-footer">
    </div>
</div>
-->