<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Borrar Tipo de Comida</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="container">
            <div class="row">¿Está seguro que desea deshabilitar el comercio? Por favor, ingrese la razón:</div>
            <div class="row" style="padding-top:5px;">
                <textarea maxlength="150"
                          ng-class="ctrl.reasonClass"
                          rows="3" 
                          cols="50" 
                          type="text" 
                          ng-model="ctrl.reason" />
                <div ng-if="ctrl.error" class="error-message">El campo es obligatorio</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="ctrl.ok()">Deshabilitar</button>
        <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancelar</button>
    </div>
</div>